---
import Layout from '../../layouts/Layout.astro';
import MedicalHistoryDetailContent from '../../components/MedicalHistoryDetailContent';

const { id } = Astro.params;
---
<Layout>
  <main class="min-h-[calc(100vh-4rem)] bg-gradient-to-br from-purple-100 via-purple-300 to-purple-500 p-4">
    <MedicalHistoryDetailContent patientId={id} client:load />
  </main>
</Layout>