<div id="auth-div">
  <p id="loading-text">Cargando...</p>
  <div id="auth-content" class="hidden">
    <slot />
  </div>
</div>

<script>
  // @ts-nocheck
  import AuthModule from "./authModule.js";
  const loadingText = document.querySelector('#loading-text');
  const authContent = document.querySelector('#auth-content');
  
  try {
    await AuthModule.getLoggedUser();
    authContent.classList.remove('hidden');
  } catch (error) {
    console.error("Authentication check failed:", error.message);
    if (error.response?.status === 401 || error.response?.status === 403) {
      location.replace('/login');
    }
  } finally {
    loadingText.remove();
  }
  
</script>