---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1 class="text-3xl font-bold text-purple-700 mb-6">Historia Clínica</h1>
  <p>Administracion y gestion del historial médico de los pacientes.</p>
</Layout>
