---
import Layout from '../layouts/Layout.astro';
import MedicalHistoryPageContent from '../components/MedicalHistoryPageContent.jsx';
---
<Layout>
  <main class="min-h-[calc(100vh-4rem)] bg-gradient-to-br from-purple-100 via-purple-300 to-purple-500 p-4">
    <MedicalHistoryPageContent client:load />
  </main>
</Layout>