---
import Layout from '../layouts/Layout.astro';
import CreatePatientForm from '../features/patients/CreatePatientForm.astro';
import PatientsList from '../features/patients/PatientsList.astro';
import { UserGroupIcon } from '@heroicons/react/24/outline'; // Import the icon
---
<Layout>
  <main class="min-h-[calc(100vh-4rem)] bg-gradient-to-br from-blue-100 via-blue-300 to-blue-500 p-4">
    <div class="max-w-7xl mx-auto py-10 px-4">
      <h1 class="text-4xl font-extrabold mb-10 flex items-center gap-3 text-blue-900 drop-shadow-lg">
        <UserGroupIcon className="h-14 w-14 text-blue-700" /> {/* Add the icon */}
        Pacientes
      </h1>
      <!-- Usamos CSS Grid para alinear la altura y mantener la proporción de ancho -->
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
        <section class="lg:col-span-2">
          <CreatePatientForm />
        </section>
        <section class="lg:col-span-3 bg-gray-800 rounded-lg">
          <PatientsList />
        </section>
      </div>
    </div>
  </main>
</Layout>