---
import AuthUnprotected from "../features/auth/AuthUnprotected.astro";
import SignupForm from "../features/users/SignupForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="h-[calc(100vh-4rem)] flex flex-col gap-8 p-4 max-w-[90rem] mx-auto items-center justify-center">
    <SignupForm />
  </main>
</Layout>