---
import AuthUnprotected from "../features/auth/AuthUnprotected.astro";
import SignupForm from "../features/users/SignupForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign Up">
  <AuthUnprotected>
    <main class="min-h-[calc(100vh-4rem)] flex items-center justify-center bg-gray-100 dark:bg-gray-900">
      <SignupForm />
    </main>
  </AuthUnprotected>
</Layout>