---
import Layout from "../../layouts/Layout.astro"
export const prerender = false
---

<Layout title="Verificando Correo...">
  <main class="h-[calc(100vh-4rem)] flex flex-col gap-8 p-4 max-w-[90rem] mx-auto md:items-center justify-center">
    <div class="border-1 p-4 rounded-md flex items-center gap-4">
      <!-- Spinner -->
      <svg class="animate-spin h-8 w-8 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <p id="verify-text" class="text-center text-xl">Verificando tu correo, por favor espera...</p>
    </div>
  </main>
</Layout>

<script>
  import ky from 'ky';
  import { BACK_ENDPOINT } from '../../config/endpoint.js';

  async function verify() {
    const token = window.location.pathname.split('/verify/')[1];

    if (!token) {
      window.location.href = '/email-verification-failed';
      return;
    }

    try {
      await ky.patch(`${BACK_ENDPOINT}/api/users/verify`, { json: { token } });
      window.location.href = '/email-verified';
    } catch (error) {
      console.error('Email verification failed:', error);
      window.location.href = '/email-verification-failed';
    }
  }

  verify();
</script>
